<%= flash[:notice] if flash[:notice] %>

<label>Name: <%= @user.full_name %></label> <br>
<label>Email: <%= @user.email %></label> <br>

<%= link_to "Edit Information", edit_user_url(@user) %> <br>
<%= link_to "View Past Orders", user_orders_url(@user) %>