<section class="cart group">
  <div class="status-messages">
    <%= status_messages %>
  </div>

  <% if @cart.cart_items.empty? %>
    <p>There are no items in your cart.</p>
  <% else %>
    <table>
      <thead>
        <th class="name">Name</th>
        <th class="currency">Price</th>
        <th class="quantity">Quantity</th>
        <th class="currency">Total</th>
      </thead>

      <tfoot>
        <tr>
          <td colspan="3" class="currency">Grand Total:</td>
          <td class="currency total">$<%= @cart.total %></td>
        </tr>
      </tfoot>

      <tbody>
        <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td class="name">
            <img src="<%= cart_item.item.thumbnail %>">
            <%= link_to cart_item.item.name, item_url(cart_item.item) %>
            <%= button_to "Save for later", cart_item_save_url(cart_item.id || cart_item.item_id), method: :put %>
          </td>
          <td class="currency">$<%= cart_item.item.price %></td>
          <td class="quantity group"><%= render partial: "cart_items/form", locals: { cart_item: cart_item } %></td>
          <td class="currency subtotal">$<%= cart_item.subtotal%></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Checkout", new_order_url %>
  <% end %>
</section>

<script>
$(document).ready(function () {
  $(".update").on("ajax:success", function(event, data){
    $(".status-messages").html(data["status_messages"]);

    var $subtotal = $(event.target).closest("td").siblings(".subtotal");
    $subtotal.html("$" + data["subtotal"]);

    $(".total").html("$" + data["total"]);
  });

  $(".remove").on("ajax:success", function(event, data){
    if (data["total"] > 0) {
      $(event.target).closest("tr").remove();
      $(".total").html("$" + data["total"]);
    } else {
      location.reload();
    }
  });
});
</script>