<% if flash[:error] %>
  <label class="error"><%= flash[:error] %></label>
<% end %>

<%if flash[:notice] %>
  <label class="notice"><%= flash[:notice] %></label>
<% end %>

<ul>
<% @cart.cart_items.each do |cart_item| %>
  <li>
    <%= render partial: "cart_items/show", locals: { cart_item: cart_item }%>
  </li>
<% end %>
</ul>

<label>Grand Total: <%= @cart.total %></label>
<%= link_to "Checkout", new_order_url %>