<form action="<%= items_url %>" method="get">
  <label>Filter by</label><br>
  <label>Price</label><br>
  <label for="filter_min_price">Minimum</label>
    <input type="number" name="price[min]" id="filter_min_price"
      value="<%= params[:price][:min] if params[:price] && params[:price][:min] > 0 %>">
  <label for="filter_max_price">Maximum</label>
    <input type="number" name="price[max]" id="filter_max_price"
      value="<%= params[:price][:max] if params[:price] && params[:price][:max] > 0 %>">
  <br>

  <label>Brands</label><br>
  <ul>
  <% brands.each do |brand| %>
    <li>
      <input type="checkbox"
        name="brand_ids[]"
        value="<%= brand.id %>"
        id="brand_<%= brand.id %>"
        <%= "checked" if params[:brand_ids] && params[:brand_ids].include?(brand.id) %>>
      <label for="brand_<%= brand.id %>"><%= brand.name %></label>
    </li>
  <% end %>
  </ul>

  <label>Categories</label><br>
  <ul>
  <% categories.each do |category| %>
    <li>
      <input type="checkbox"
        name="category_ids[]"
        value="<%= category.id %>"
        id="category_<%= category.id %>"
        <%= "checked" if params[:category_ids] && params[:category_ids].include?(category.id) %>>
      <label for="category_<%= category.id %>"><%= category.name %></label>
    </li>
  <% end %>
  </ul>

  <input type="submit" value="Filter">

</form>