<form action="<%= items_url %>" method="get">
  <label>Refine your search</label>
  <input type="submit" value="Search">

  <div>
    <label for="sort_criterium">Sort by</label>
    <select id="sort_criterium" name="sort">
      <option value="price_asc">Price: Low to High</option>
      <option value="price_desc">Price: High to Low</option>
      <option value="most_recent">Most recent</option>
      <option value="rating">Highest rating</option>
      <option value="popularity">Most popular</option>
    </select>
  </div>

  <div>
    <label for="filter_name">Name</label>
    <input type="text" name="filter[name]" id="filter_name" value="<%= filter[:name] %>"><br>
  </div>

  <div>
    <label>Price</label>
    <label for="filter_min_price">Minimum</label>
      <input type="number" name="filter[price][min]" id="filter_min_price"
        value="<%= filter[:price][:min] if filter[:price] %>">
    <label for="filter_max_price">Maximum</label>
      <input type="number" name="filter[price][max]" id="filter_max_price"
        value="<%= filter[:price][:max] if filter[:price] %>">
  </div>

  <label>Brands</label><br>
  <ul>
  <% brands.each do |brand| %>
    <li>
      <input type="checkbox"
        name="filter[brand_ids][]"
        value="<%= brand.id %>"
        id="brand_<%= brand.id %>"
        <%= "checked" if filter[:brand_ids] && filter[:brand_ids].include?(brand.id) %>>
      <label for="brand_<%= brand.id %>"><%= brand.name %></label>
    </li>
  <% end %>
  </ul>

  <label>Categories</label><br>
  <ul>
  <% categories.each do |category| %>
    <li>
      <input type="checkbox"
        name="filter[category_ids][]"
        value="<%= category.id %>"
        id="category_<%= category.id %>"
        <%= "checked" if filter[:category_ids] && filter[:category_ids].include?(category.id) %>>
      <label for="category_<%= category.id %>"><%= category.name %></label>
    </li>
  <% end %>
  </ul>

</form>