<%= flash[:errors] if flash[:errors] %><br>

<%= auth_token %>

<label for="item_name">Name:</label>
<input type="text" id="item_name" name="item[name]" value="<%= item.name %>"><br>

<label for="item_price">Price:</label>
<input type="number" id="item_price" name="item[price]" value="<%= item.price %>"><br>

<label for="item_stock">Stock:</label>
<input type="number" id="item_stock" name="item[stock]" value="<%= item.stock %>"><br>

<label for="item_description">Description:</label>
<textarea id="item_description" name="item[description]"><%= item.description %></textarea><br>

<label for="item_brand">Brand:</label>
<select id="item_brand" name="item[brand_id]">
  <option value=""></option>
  <% Brand.all.each do |brand| %>
  <option value="<%= brand.id %>"
    <%= "selected" if brand.id == item.brand_id %>><%= brand.name %></option>
  <% end %>
</select><br>

<label for="item_category">Category:</label>
<select id="item_category" name="item[category_id]">
  <option value=""></option>
  <% Category.all.each do |category| %>
  <option value="<%= category.id %>"
    <%= "selected" if category.id == item.category_id %>><%= category.name %></option>
  <% end %>
</select><br>