<section class="item-form group">
  <ul>
    <% @item.photos.each do |photo| %>
      <li class="group">
        <img src="<%= photo.image.url(:thumb) %>">
        <%= button_to "Remove Photo", photo_url(photo),
          method: :delete, form_class: "remove-item" %>
      </li>
    <% end %>
  </ul>

  <form action="<%= item_url(@item) %>" method="post" enctype="multipart/form-data">

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% flash[:errors].try(:each) do |error| %>
      <p class="error"><%= error %></p>
    <% end %>

    <input type="hidden" name="_method" value="put">

    <%= render partial:"item_fields", locals: { item: @item } %>

    <div class="submit">
      <input type="submit" value="Update Item">
    </div>
  </form>

  <%= button_to "Delete Item", item_url(@item), method: :delete, form_class: "remove-item" %>

</section>