<section class="item-info group">
  <section class="photos-list">
    <ul>
      <% @item.photos.each do |photo| %>
        <li>
          <a href="#" data-url="<%= photo.image.url(:full) %>">
            <img src="<%= photo.image.url(:thumb) %>">
          </a>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="photo">
    <img src="<%= @photo.image.url(:full) %>">
  </section>

  <section class="item-details">
    <p>Brand: <%= @item.brand.name %></p>
    <h2><%= @item.name %></h2>
    <% if @item_rating >= 1 %>
      <p>Rating: <%= @item_rating %></p>
    <% else %>
      <p>Rating: This item hasn't been rated</p>
    <% end %>
    <p>Price: $<%= @item.price %></p>
    <p><%= @item.description %></p>
    <% if @item.stock == 0 %>
      <p class="error">Out of Stock</p>
    <% end %>
  </section>

  <section class="item-controls">
    <div class="status-messages">
      <%= render partial: "status_messages" %>
    </div>

    <%= render partial: "cart_items/new", locals: { item: @item } %>
    <% if current_user %>
      <%= render partial: "wishlist_items/new", locals: { item: @item, wishlists: @wishlists } %>
    <% end %>
  </section>
</section>

<section class="reviews">
  <p>Reviews</p>
  <ul>
    <% @item.reviews.includes(:user).each do |review| %>
      <li>
        <h4>By: <%= review.user.full_name %></h4>
        <h3><%= review.title %></h3>
        <p><%= review.body %></p>
      </li>
    <% end %>
  </ul>

  <%= render partial: "reviews/new", locals: { item: @item } if current_user %>
</section>

<script>
$(document).ready(function () {
  $(".item-controls").on("ajax:success", "form", function(event, data){
    $(".status-messages").html(data);
    this.reset();
  });

  $(".photos-list").on("click", "a", function(event){
    event.preventDefault();

    var url = $(this).attr("data-url");
    $(".photo").find("img").attr("src", url);
  });
});

</script>