<label>Name: <%= @item.name %></label> <br>
<label>Price: $<%= @item.price %></label> <br>
<label>Description: <%= @item.description %></label> <br>
<label>Item Number: <%= @item.id %></label> <br>
<label>Brand: <%= @item.brand.name %></label> <br>


<%= link_to "Back", category_items_url(@item.category) %>

<form action="<%= item_cart_items_url(@item) %>" method="post">
  <%= flash[:errors] if flash[:errors] %>
  <%= flash[:notice] if flash[:notice] %><br>

  <%= auth_token %>

  <label for="cart_item_quantity">Quantity</label>
  <input type="number" id="cart_item_quantity" name="cart_item[quantity]">

  <br>

  <input type="submit" value="Add to Cart">
</form>