<div>
  <% @item.photos.each do |photo| %>
    <img src="<%= photo.image.url(:thumb) %>">
  <% end %>
</div>

<div>
  <label><%= @item.name %></label>
</div>
<div>
  <label>Price: $<%= @item.price %></label>
</div>
<div>
  <label><%= @item.description %></label>
</div>
<div>
  <label>Item Number: <%= @item.id %></label>
</div>
<div>
  <label>Brand: <%= @item.brand.name %></label>
</div>

<div>
  <% if @item_rating >= 1 %>
    <label>Rating: <%= @item_rating %></label>
  <% else %>
    <label>Rating: This item hasn't been rated</label>
  <% end %>
</div>

<div>
  <label>Reviews</label>
  <ul>
  <% @item.reviews.each do |review| %>
    <li>
      <%= review.title %>
      <%= review.body %>
    </li>
  <% end %>
  </ul>

  <%= render partial: "reviews/new", locals: { item: @item } if current_user %>
</div>

<%= link_to "Back", items_url %>

<% if current_user %>
  <div>
    <% if flash[:error] %>
      <label class="error"><%= flash[:error] %></label>
    <% end %>

    <%if flash[:notice] %>
      <label class="notice"><%= flash[:notice] %></label>
    <% end %>

    <%= render partial: "cart_items/new", locals: { item: @item } %>
    <%= render partial: "wishlist_items/new", locals: { item: @item, wishlists: @wishlists } %>
  </div>
<% end %>