<!DOCTYPE html>
<html>
<head>
  <title>Shopping Mania</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="group">
    <%= image_tag("logo.png", alt: "logo")%>
    <section class="motto">
      <h3>where endless shopping makes both of us</h3>
      <h2>happy</h2>
    </section>
  </header>

<%= render partial: "layouts/nav_bar" %>

<%= yield %>

</body>
</html>
