<!DOCTYPE html>
<html>
<head>
  <title>ShoppingMania</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", items_url %></li>
      <% if current_user %>
        <li><%= link_to "Cart", cart_url(current_user.cart) %></li>
        <li><%= link_to "Account", user_url(current_user) %></li>
        <li><%= button_to "Sign Out", session_url, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_session_url %></li>
      <% end %>
    </ul>
  </nav>

  <% if current_user && current_user.admin? %>
    <nav>
      <%= link_to "Add New Item", new_item_url %>
      <form action="<%= admin_edit_items_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="put">
        <label for="item_id">Item ID</label>
        <input type="text" name="item_id" id="item_id">
        <input type="submit" value="Edit Item">
      </form>
    </nav>
  <% end %>

<%= yield %>

</body>
</html>
